body {
    font-family: 'Noto Sans Hebrew', sans-serif;
}

/* You can also target specific elements if needed */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: bolder;
}

